In [46]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series

In [47]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [48]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [49]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [50]:
ww2_cas['USA']

400000

In [51]:
# Check the countries that had casualities greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [52]:
'USSR' in ww2_cas #test if it is true or false

True

In [53]:
#Convert it to dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [54]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [55]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']
countries

['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [56]:
# You may create the Series and use a different /complementar index. It handles nulls 
obj2 = Series(ww2_dict, index = countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [57]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [58]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [59]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [60]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [61]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [63]:
obj2.name = "WW 2 casualities"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WW 2 casualities, dtype: float64

In [64]:
obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WW 2 casualities, dtype: float64

# DataFrames

In [65]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [70]:
#Go to the wikipedia table, copy to the memory the first 5 lines - CTRL+C
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [71]:
nfl_frame.columns

Index(['Rank ', 'Team ', 'GP ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Division'],
      dtype='object')

In [74]:
nfl_frame['First NFL Season ']

0    1960
1    1920
2    1921
3    1960
4    1966
Name: First NFL Season , dtype: int64

In [78]:
DataFrame(nfl_frame, columns=['Team ','First NFL Season ','GP '])

                      Team   First NFL Season      GP
0           Dallas Cowboys                1960    898
1            Chicago Bears                1920  1,386
2        Green Bay Packers                1921  1,352
3  New England Patriots[b]                1960    900
4           Miami Dolphins                1966    816

In [80]:
DataFrame(nfl_frame, columns=['Team ','First NFL Season ','GP ','Random'])

                      Team   First NFL Season      GP   Random
0           Dallas Cowboys                1960    898      NaN
1            Chicago Bears                1920  1,386      NaN
2        Green Bay Packers                1921  1,352      NaN
3  New England Patriots[b]                1960    900      NaN
4           Miami Dolphins                1966    816      NaN

In [81]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [83]:
nfl_frame.head(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North

In [84]:
nfl_frame.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [88]:
#nfl_frame.ix[3] # deprecated
nfl_frame.loc[3]

Rank                                        4
Team                 New England Patriots[b]
GP                                       900
Won                                       500
Lost                                      391
Tied                                        9
Pct.                                    0.561
First NFL Season                         1960
Division                             AFC East
Name: 3, dtype: object

In [90]:
nfl_frame['Stadium'] = "Levi's Statium"
# It will add the values to all rows
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,Levi's Statium
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,Levi's Statium
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,Levi's Statium
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,Levi's Statium
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levi's Statium

In [92]:
nfl_frame['Stadiun'] = np.arange(5)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium,Stadiun
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,Levi's Statium,0
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,Levi's Statium,1
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,Levi's Statium,2
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,Levi's Statium,3
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levi's Statium,4

In [95]:
stadiums = Series(['Levis Stadium', 'ATT Stadium'], index=[4,0])
stadiums

4    Levis Stadium
0      ATT Stadium
dtype: object

In [96]:
#Assign some values to the column stadium
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium,Stadiun
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,ATT Stadium,0
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,NaN,1
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,NaN,2
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,NaN,3
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levis Stadium,4

In [97]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadiun
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,0
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,1
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,2
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,3
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,4

In [98]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [100]:
import webbrowser
#website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
website = 'http://pandas-docs.github.io/pandas-docs-travis/reference/frame.html'
webbrowser.open(website)

True

# Indexing Objects

In [102]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [103]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')